h1,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  text-align: center;
}

h1 {
  color: darkorange;
}

#word {
  font-size: 200%;
  margin-top: 70px;
}

#entry {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}

.part-of-speech {
  font-style: italic;
  color: darkgray;
}

.date {
  color: darkorange;
  font-size: 80%;
}

pre {
  padding: 20px;
  color: red;
}

.exampleTitle {
  font-style: italic;
}

a.source {
  color: darkgray;
}